:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
	padding: 0;
	margin: 0;
}
.container {
	width: 1200px;
	margin: auto;
}
header {
	padding-top: 96px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar {
}
.logo {
	font-size: 24px;
	font-weight: bold;
	color: #462e6a;
	text-decoration: none;
}
.menu-items {
	display: flex;
	gap: 50px;
	margin: 0;
	padding: 0;
}
.menu-item {
	list-style-type: none;
	width: 80px;
}
.menu-item a {
	font-size: 18px;
	color: #1f1534;
	text-decoration: none;
	transition: all 0.5s;
}

.menu-item a:hover {
	color: #2e4e92;
	font-weight: bold;
}

.main {
}

.services {
}

.roadmap {
}

.contacts {
}

footer {
	color: #fff;
	height: 400px;
	background: linear-gradient(183deg, #6888c8 -8.57%, #5a98f2 82.96%);
}
.footer-content {
	display: flex;
}
.footer-content-block {
	flex: 1;
	padding-top: 120px;
}

.footer-logo {
	color: #fff;
	font-size: 29px;
	font-weight: bold;
	text-decoration: none;
}

.footer-content p {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 360px;
	line-height: 27px;
	font-weight: 500;
	font-size: 18px;
}

.footer-copyright {
	font-size: 16px;
	font-weight: 300;
}

.footer-menu-items {
	padding: 0;
	margin: 0;
}

.footer-menu-item {
	list-style-type: none;
}

.footer-menu-item a {
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	font-size: 18px;
}
